@import "../../../../styles/variables/_variable-master";

.table {
  background: pantone(white);
  ::ng-deep {
    .p-datatable-header,
    .p-datatable-footer {
      background-color: pantone(white);
    }
    th {
      tr {
        border: 1px solid black;
      }
    }
    .p-datatable-wrapper {
      // height: calc(100vh - 300px);
      height: calc(100vh - 287px);
      background-color: pantone(white);
      // min-height: calc(100vh - 300px);
    }
    .day-hours-cell td {
      border: 1px solid #ccc; /* Customize the border style as needed */
    }
  }
}
