@use "sass:math";
@import "../../../../styles/variables/_variable-master";

.table {
  background: pantone(white);
  display: block;
  height: 100%;
  ::ng-deep {
    .p-datatable-header,
    .p-datatable-footer {
      background-color: pantone(white);
    }
    th {
      tr {
        border: 1px solid black;
      }
    }
    tr td {
      font-weight: 800 !important;
      font-size: 14px;
    }
    .p-datatable-wrapper {
      height: calc(100vh - 245px);
      background-color: pantone(white);
    }
  }
  &-head {
    &_p-10 {
      padding: 10px;
      flex: 0 0 math.div(100%, 3);
      text-align: center;
    }

    &_date {
      border-bottom: 1px solid #e5e7eb;
      padding: 10px;
      text-align: center;
    }
    &_center {
      justify-content: center;
    }
    &_sub-head {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__center {
      text-align: center;
    }
  }
  &-cell {
    &_absent {
      background-color: rgba(color(absent), 0.5);
    }
    &_lc {
      color: pantone(red);
      &-total {
        font-size: 18px !important;
        color: pantone(red) !important;
      }
    }
  }
}

.p-0 {
  padding: 0;
}

.button-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.btn-grp {
  display: flex;
  gap: 1rem;
}
