<p-table
  class="table"
  [value]="tableData ? tableData.data : []"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="caption"> Header </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>SI.no</th>
      <th>Department</th>
      <th>Employee Code</th>
      <th>Employee Name</th>
      @for (item of getDateList();let i = $index; track i) {
      <th>
        <tr rowspan="2">
          {{
            item.date
          }}
        </tr>
        <tr rowspan="2">
          <th colspan="1">Day</th>
          <th colspan="1">Hours</th>
        </tr>
      </th>
      } @empty {
      <th>Date</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <!-- @for (item of tableData?.data;let i = $index; track i) { -->
    <tr>
      <td>{{ incrementIndex() }}</td>
      <td>{{ data?.department }}</td>
      <td>{{ data?.employeeCode }}</td>
      <td>{{ data?.employeeName }}</td>
      @for (item of getDayAndDuration(data?.dateList);let i = $index; track i) {
      <td>
        <tr>
          <td>{{ item.day }}</td>
          <td>{{ item.duration }}</td>
        </tr>
      </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="summary"> Footer </ng-template>
</p-table>
