<p-table
  class="table"
  [value]="tableData ? tableData.data : []"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '50rem' }"
  [scrollable]="true"
  scrollDirection="both"
  id="htmlData"
>
  <ng-template pTemplate="caption">
    <div class="button-wrapper">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-pdf"
        (click)="exportPdf()"
        label="Export Pdf"
        class="p-button-warning mr-2"
        pTooltip="Export PDF"
        tooltipPosition="bottom"
      ></button>
      <div class="btn-grp">
        <button
          type="button"
          pButton
          pRipple
          (click)="getPreviousDates()"
          class="p-button-success mr-2"
          pTooltip="Previous Week"
          tooltipPosition="bottom"
          [disabled]="currentIndex === 0"
        >
          Previous week
        </button>
        <button
          type="button"
          pButton
          pRipple
          [disabled]="!hasMoreDates"
          (click)="getNextDates()"
          class="p-button-success mr-2"
          pTooltip="Next 5 Dates"
          tooltipPosition="bottom"
        >
          Next Week
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pFrozenColumn>Employee Name</th>
      <!-- <th>Department</th>
      <th>Employee Code</th> -->

      @for (item of getDateList();let i = $index; track i) {
      <th class="p-0 table-head__cell">
        <div class="table-head_date">
          {{ item.date }}
        </div>
        <div class="table-head table-head_justify-center table-head_sub-head">
          <div class="table-head_p-10 table-head_status">Sts</div>
          <div class="table-head_p-10 table-head_hrs">Hrs</div>
          <div class="table-head_p-10 table-head_remarks">Rmrks</div>
        </div>
      </th>
      } @empty {
      <th>Date</th>
      }
      <th>Total Late Count</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td pFrozenColumn>{{ data?.employeeName }}</td>
      <!-- <td>{{ data?.department }}</td>
      <td>{{ data?.employeeCode }}</td> -->

      @for (item of getDayAndDuration(data?.dateList);let i = $index; track i) {
      <td
        class="p-0"
        [ngClass]="item.status === 'Absent' ? 'table-cell_absent' : ''"
      >
        <div
          class="table-head table-head_sub-head"
          [ngClass]="!item.duration && !item.remarks ? 'table-head_center' : ''"
        >
          @if(item.status === 'Absent'){
          <p-dropdown
            [options]="leaveOptions"
            optionLabel="name"
            (onChange)="onLeaveUpdate(data, i, $event)"
          ></p-dropdown>

          <!-- [(ngModel)]="selectedLeaveType" -->
          }@else {
          <div class="table-head_p-10 table-head_status">
            {{ item.status.split("")[0] }}
          </div>
          } @if (item.duration) {
          <div class="table-head_p-10 table-head_status">
            {{ item.duration }}
          </div>
          } @if ( item.remarks) {
          <div
            class="table-head_p-10 table-head_status"
            [ngClass]="item.remarks === 'LC' ? 'table-cell_lc' : ''"
          >
            {{ item.remarks }}
          </div>
          }
        </div>
      </td>
      }
      <td
        class="table-head__center"
        [ngClass]="
          getTotalLateCount(getDayAndDuration(data?.dateList)) > 0
            ? 'table-cell_lc-total'
            : ''
        "
      >
        {{ getTotalLateCount(getDayAndDuration(data?.dateList)) }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td>Please upload the attendance sheet in xlsx or csv format.</td>
    </tr>
  </ng-template>
</p-table>
